@import "/src/root.css";

#imagenes {
  margin-top: 15px;
}

img {
  display: none;
}

img[src] {
  display: block;
}

#greet-input {
  margin-right: 5px;
}

/*Estilos tarjeta pokemon*/

.area_tarjeta,
.tarjeta {
  height: 400px;
  width: 350px;
}


.tarjeta {
  position: relative;
  border: 2px solid black;

  transition: transform 1s linear;
  transform-style: preserve-3d;
  border-radius: 25px;
}

.frontal,
.reverso {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(34, 34, 34, 0.671);
  backface-visibility: hidden;
  border-radius: 20px;
  color: white;
}

.frontal {
  z-index: 2;
}

.frontal .imagen {
  height: 300px;
  width: 300px;
  margin: 25px 25px 0;
}

.reverso {
  transform: rotateY(180deg);
}

.reverso h3 {
  font-variant: small-caps;

  text-align: center;
}

.nombre {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;

  text-transform: capitalize;
}

.subnombre {
  margin-top: 5px;
  text-align: center;

  text-transform: capitalize;
}

.tipo {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; 
  border-radius: 50px;
  margin-bottom: 15px; 
  width: 150px;
}

.area_tipos {
  display: inline-block;
  width: 100%;
}

.boton_click {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.area_tarjeta:hover .tarjeta {
  transition: transform 1s linear;
  transform: rotateY(180deg);
}

.area_pokemon {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

/*Colores de cada tipo*/
.bug {
  background: #92BC2C;
}

.dark {
  background: #595761;
}

.dragon {
  background: #0C69C8;
}

.electric {
  background: #F2D94E;
}

.fire {
  background: #FBA54C;
}

.fairy {
  background: #EE90E6;
}

.fighting {
  background: #D3425F;
}

.flying {
  background: #A1BBEC;
}

.ghost {
  background: #5F6DBC;
}

.grass {
  background: #5FBD58;
}

.ground {
  background: #DA7C4D;
}

.ice {
  background: #75D0C1;
}

.normal {
  background: #A0A29F;
}

.poison {
  background: #B763CF;
}

.psychic {
  background: #FA8581;
}

.rock {
  background: #C9BB8A;
}

.steel {
  background: #5695A3;
}

.water {
  background: #539DDF;
}