<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comparador</title>
    <script type="module" src="/src/comparador.ts"></script>
    <script src="/src/components/header-busqueda.ts "></script>
    <link rel="stylesheet" href="/src/comparador.css">
    <link rel="stylesheet" href="/src/components/cuadro-tipos.css">
</head>

<body>
    <header-busqueda id="hBusqueda"></header-busqueda>

    <main>

    </main>
</body>

</html>