<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comparador</title>
    <script type="module" src="/src/comparador.ts"></script>
    <link rel="stylesheet" href="/src/styles.css">
    <style>
        .estadistica {
            margin-right: 15px;
            display: flex;
            flex-direction: column;
        }
        
        .barra_estadistica {
            width: 20px;
            height: 200px;
            background-color: rgba(0, 0, 0, 0.212);
        }

        .barra_estadistica span {
            display: block;
            position: relative;
            width: 100%;
            background-color: darksalmon;
        }
    </style>
</head>

<body>

    <header id="busqueda">
        <input type="text" id="cuadro_busqueda">
        <button id="boton_busqueda"><span>&#x21B5;</span></button>
    </header>

    <main>
        
    </main>
</body>

</html>